[".tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm.git"
  refreshPeriod = "24h"

[".config/nvim/autoload/plug.vim"]
  type = "file"
  url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
  refreshPeriod = "24h"

[".agents"]
  type = "git-repo"
{{ if .internal_network -}}
  url = "ssh://git@git.home.ankitson.com:1024/ankitson/clankerpedia.git"
{{ else -}}
  url = "https://github.com/ankitson/clankerpedia.git"
{{ end -}}
  refreshPeriod = "24h"

{{ if eq .chezmoi.os "windows" -}}
["AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Startup/wezterm-quake.ahk"]
  type = "file"
  url = "file://{{ .chezmoi.sourceDir }}/wezterm-quake.ahk"
{{ end -}}
