[user]
	email = ankitsoni9@gmail.com
	name = Ankit Soni
[core]
	editor = vim
[alias]
  ap = add -p
  cm = commit
  co = checkout
  d = diff
  dc = diff --cached
  lo = log --oneline -n 10
  s = status
  ps = push
  pl = pull
