bin/vendor/executable_wezterm filter=lfs diff=lfs merge=lfs -text
bin/vendor/executable_wezterm-mux-server filter=lfs diff=lfs merge=lfs -text
bin/vendor/executable_strip-ansi-escapes filter=lfs diff=lfs merge=lfs -text
