[user]
  email = dev@ankitson.com
  name = Ankit Soni
[init]
  defaultBranch = main
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[alias]
  a = add
  ap = add -p
  bl = branch -a --sort=-committerdate --format='%(HEAD)%(color:yellow)%(refname:short)\t%(color:bold green)%(committerdate:relative)\t%(color:magenta)%(authorname)%(color:reset)\t%(color:blue)%(subject)'
  cm = commit
  co = checkout
  d = diff
  dc = diff --cached
  lo = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --graph --date-order --date='format:"%Y-%m-%d %H:%M"'
  s = status
  ps = push
  pl = pull
  us = reset HEAD --
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
