#!/bin/sh

[ -d /projects/toolbox/.git ] && exit 0

mkdir -p /projects
git clone "https://github.com/ankitson/toolbox.git" /projects/toolbox || {
  echo "chezmoi: failed to clone toolbox; continuing" >&2
  exit 0
}
