HashKnownHosts no

Host github.com
  User git

Host desktop desktop-linux
  HostName 172.16.0.208
  User ankit

Host devbox
  HostName 172.16.0.208
  Port 2201
  User ankit

Host synology
  HostName 192.168.1.15
  User ankit

Host ts-desktop
  HostName ts-desktop-win.myth-dab.ts.net
  User ankit

Host ts-hetzner-homelab
  HostName ts-hetzner-homelab.myth-dab.ts.net
  Port 2201
  User ankit
