{{- if .personal -}}
{{-   if .is_agent -}}
{{-     onepasswordRead "op://Agents/agent-ssh/private key" -}}
{{-   else -}}
{{-     onepasswordRead "op://Private/dev/private key" -}}
{{-   end -}}
{{- end -}}
