{{- if .personal -}}
{{-   if .is_agent -}}
{{-     onepasswordRead "op://clankers/agent-ssh/private key?ssh-format=openssh" -}}
{{-   else -}}
{{-     onepasswordRead "op://Private/dev/private key" -}}
{{-   end -}}
{{- end -}}
