{{- if eq .identity "personal" -}}
{{-   onepasswordRead "op://Private/dev/private key" -}}
{{- else if eq .identity "agent" -}}
{{-   onepasswordRead "op://clankers/agent-ssh/private key?ssh-format=openssh" -}}
{{- end -}}
