{
  "opencode": {
    "type": "api_key",
    "key": {{ onepasswordRead "op://clankers/opencode-zen/password" | quote }}
  },
  "deepseek": {
    "type": "api_key",
    "key": {{ onepasswordRead "op://clankers/deepseek/password" | quote }}
  },
  "litellm": {
    "type": "api_key",
    "key": {{ onepasswordRead "op://clankers/litellm/password" | quote }}
  }
}
